<footer class="bg-white border-top mt-auto py-4">
    <div class="container">
        <div class="row g-3 align-items-center">
            <div class="col-md-6">
                <div class="fw-semibold">Sistema Basico</div>
            </div>
            <div class="col-md-6 text-md-end">
                <div class="text-muted small">roberthbardales@gmail.com</div>
                <div class="text-muted small">© {% now "Y" %} Russell Bardales </div>
            </div>
        </div>
    </div>
</footer>
