  <!-- <style>
    .perro {
      height: 100px;
    }
  </style> -->

  <!-- <footer class="d-flex flex-column bg-info px-2 py-2"> -->
<div class="row px-2 ">
  <footer class="d-flex flex-column align-items-center justify-content-center bg-primary text-light py-3 px-2">
    <div class="fs-5">
      Contacto:
    </div>
    <div class="fs-5">
      roberthbardales@gmail.com
    </div>
  </footer>
  <ul class="nav justify-content-center align-items-center border-top py-1 text-light bg-primary ">
    <li class="nav-item ">&copy; 2024 Copyright.</li>
  </ul>
</div>

